.userButtonPanelWBJS {
  left: 90%; 
  bottom: 50%; 
  height: 7%; 
  position: fixed; 
  width: 10%; 
  z-index:100;
  font-size: 16px;
  
}

.WBJSNote {
  position: absolute;
  border: 2px solid #ddd;
  height: 200px;
  width: 350px;
  border: none;
  color: black;
  padding: 25px 75px 25px 25px;
  text-decoration: none;
  display: inline-block;
  overflow: auto;
  resize: both;
  box-sizing: border-box; /* To include padding and border in element's total width and height */

  /* Added properties for a fancy look */
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  transition: all 0.05s ease; /* Increased transition duration for smoother effect */
}

.WBJSNote:hover {
  height:350px;
  background-color: #e9e9e9;
  box-shadow: 0px 12px 20px 0px rgba(0,0,0,0.3);
  transform: scale(1.5);
}



.buttonWBJS {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius:60%;
}


/* colors used for highlighting */
.color1 {
  padding: 0;
  background-color:#96ceb4;
  opacity:80%;
}

.color2 {
  padding: 0;
  background-color:#ffeead;
  opacity:80%;
}

.color3 {
  padding: 0;
  background-color:#ffcc5c;
  opacity:80%;
}

.color4 {
  padding: 0;
  background-color:#ff6f69;
  opacity:80%;
}

.color5 {
  padding: 0;
  background-color:#b8a9c9;
  opacity:80%;
}

.color6 {
  padding: 0;
  background-color:#b7d7e8;
  opacity:80%;
}

.color7 {
  padding: 0;
  background-color:#bccad6;
  opacity:80%;
}

.color8 {
  padding: 0;
  background-color:#ddeedd;
  opacity:80%;
}

/* css from https://enjeck.com/btns/ */
.btn {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
} 
 
.btn:hover .btn-slide-show-text1 {
  margin-left: 65px;
} 
 
.btn-layered-3d > ::before {
  box-sizing: border-box;
} 
 
.btn-layered-3d {
  width: 180px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0px none;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  font-weight: 600;
  text-transform: uppercase;
  padding: 1.15em 2em;
  border-radius: 0.75em;
  transform-style: preserve-3d;
  transition: transform 0.15s ease-out 0s, background 0.15s ease-out 0s;
} 
 
.btn-layered-3d::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  inset: 0px;
  border-radius: inherit;
  transform: translate3d(0px, 0.75em, -1em);
  transition: transform 0.15s ease-out 0s, box-shadow 0.15s ease-out 0s;
} 
 
.btn-layered-3d:hover {
  transform: translateY(0.25em);
} 
 
.btn-layered-3d:hover::before {
  transform: translate3d(0px, 0.5em, -1em);
} 
 
.btn-layered-3d--purple {
  color: rgb(62, 53, 141);
  background: rgb(213, 211, 238);
  border: 2px solid rgb(62, 53, 141);
} 
 
.btn-layered-3d--purple::before {
  background: rgb(144, 137, 210);
  box-shadow: rgb(62, 53, 141) 0px 0px 0px 2px, rgb(213, 211, 238) 0px 0.625em 0px 0px;
} 

.btn-layered-3d--blue {
  color: rgb(61, 135, 255);
  background: rgb(214, 230, 255);
  border: 2px solid rgb(61, 135, 255);
} 
 
.btn-layered-3d--blue::before {
  background: rgb(148, 189, 255);
  box-shadow: rgb(61, 135, 255) 0px 0px 0px 2px, rgb(214, 230, 255) 0px 0.625em 0px 0px;
} 
/* From BootstrapJS */
/* .btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-lg, .btn-group-lg > .btn {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}

/* jQuery-sidebar css */

/* .sidebar.left {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 270px;
}
 */
