.color1 {
  padding: 0;
  background-color:#96ceb4;
  opacity:80%;
}

.color2 {
  padding: 0;
  background-color:#ffeead;
  opacity:80%;
}

.color3 {
  padding: 0;
  background-color:#ffcc5c;
  opacity:80%;
}

.color4 {
  padding: 0;
  background-color:#ff6f69;
  opacity:80%;
}

.color5 {
  padding: 0;
  background-color:#b8a9c9;
  opacity:80%;
}

.color6 {
  padding: 0;
  background-color:#b7d7e8;
  opacity:80%;
}

.color7 {
  padding: 0;
  background-color:#bccad6;
  opacity:80%;
}

.color8 {
  padding: 0;
  background-color:#ddeedd;
  opacity:80%;
}
